{{- /*
Modèle surchargé pour afficher une licence Creative Commons à la place du copyright.
*/}}

<footer class="footer">
    {{- $licenseImage := "images/cc-by-nc-sa.png" -}}
    <span style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">
        <span style="border-width:0; margin-right: 10px;">
            <h3>Ce blog est sous licence</h3>
        </span>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" target="_blank"
            style="text-decoration: none;">
            <img alt="Licence Creative Commons" style="border-width:0; margin-right: 10px;"
                src="{{ $licenseImage | absURL }}" />
        </a>
    </span>
</footer>
